data/*
results/*
.DS_STORE
bindcore.egg-info/*
bindcore/__pycache__/**
scripts/__pycache__/**
bindcore/**/__pycache__/**
ray_results/*
env_bindcore/**
mmseqs/*
core_lip/**
*.log
figures/*
results_cg/*
results_ensemble/*
env_CORE_LIP/*
*.sh
*.stdout
*.stderr
*.pdf
logs/*
oar_logs/*
OLD_oar_logs/*
OLD_ray_results/*
OLD2_oar_logs/*
OLD2_ray_results/*
*.svg
