Bio>=1.8.3
biopython>=1.79
captum>=0.8.0
esm>=3.2.3
filelock>=3.29.4
h5py>=3.14.0
huggingface_hub>=1.20.1
matplotlib>=3.11.0
MDAnalysis>=2.7.0
MDAnalysis>=2.10.0
mdtraj>=1.10.3
numpy>=2.4.6
pandas>=3.0.3
pydantic>=2.13.4
PyYAML>=6.0.3
ray>=2.51.2
scikit_learn>=1.9.0
scipy>=1.17.1
seaborn>=0.13.2
setuptools>=44.1.1
torch>=2.8.0
tqdm>=4.67.3
transformers>=5.12.1
